/*general styling*/

body {
    background-color: rgb(245, 248, 255);
    color: rgb(49, 49, 49);
    font-family: 'Noto Sans', sans-serif;
}

a:hover {
    color:white;
    text-decoration: none;
    transform:scale(1.02)
}

.subTitle {
    font-size: 1.75rem;
    cursor: pointer;
    text-align: center;
}

@media screen and (min-width:426px){
    .subTitle {
        font-size: 1.75rem;
        cursor: pointer;
        text-align: left;
    }
}

.form-control {
    background-color: #fafafa;
}

.form {
    padding: 4rem;
    width: 30rem;
    background-color: rgba(255, 255, 255, 0.959);
    border: .1rem solid darkgray;
    border-radius: .3rem;
    /* box-shadow: .1rem .1rem; */
}

.formTitle {
    padding-bottom: 1rem;
    text-align: center;
}

@media screen and (min-width:426px){
    .formTitle {
        padding-bottom: 1rem;
        text-align: left;
    }
}

.custom-button{
    color: rgb(49, 49, 49);
    border: 1px solid #37517E
}

.custom-button:hover{
    color:white;
    background-color: #37517E ;
}

.form-control {
    margin-bottom: 2rem;
}


/*nav bar*/

.splinterLogo {
font-family: 'Ubuntu', sans-serif;
font-size: 2.5rem;
color: white;
padding-left:3%
}

@media screen and (min-width:426px){
    .splinterLogo {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3.8rem;
        color: white;
        padding-left:20%
        }
}

.navbar {
   background-color: #2453a3;
   color:white;
   padding: 2% 2% 2% 5%;
   -webkit-box-shadow: 9px 9px 3px 3px rgba(0,0,0,0.07);
    -moz-box-shadow: 9px 9px 3px 0px rgba(0,0,0,0.07);
    box-shadow: 9px 9px 3px 3px rgba(0,0,0,0.07);
}

.nav-item {
    padding-right:3rem;
    font-size: 1.6rem;
}

.navListItems a {
    color: white;
}

.logo {
    padding-left: 2%;
    width:100px;
    justify-content: center;
    transform:rotate(-90deg);
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
}
@media screen and (min-width:426px){
    .logo {
        width:150px;
    }
}

.logo:hover {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
}


/*landing page*/

.landingPageTitle {
    font-size: 4rem;
    padding-top:2%;
    padding-bottom:1%
}



.landingPage {
    padding-top:4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

.landingButtons{
    margin-top:1%;
    margin-right:1%;
}


/*dashboard*/

.dashContent {
    padding: 2% 7%;
    border-radius: 2rem;
    min-height:80vh
}


.dashNavList {
    list-style: none;
    list-style-type:none;
    text-align: center;
    margin: 0;
    padding: 2% 0 0 0  ;
}

@media screen and (min-width:426px){
    .dashNavList {
        align-items: left;
        list-style-type:none;
        margin: 0;
        padding: 2% 0 0 0   
    }
}
.dashNavListItem:hover {
    color: white;
    transform: scale(1.02);
    filter: brightness(80%);
    cursor: pointer;
}

.dashNavListItem {
    color: white;
    padding: 1% 0 1% 0;
    padding-left: 0;
    font-size: 1.15rem;
    text-align: center;
}

@media screen and (min-width:426px){
    .dashNavListItem {
        color: white;
        padding: 4% 2% 2% 10%;
        text-align: left;
        font-size: 1.15rem;
       
        
    }
}

.dashNavHeader {
    font-size: 1.5rem;
    padding-top: 5%;
    color: white;
    text-align: center;
}

@media screen and (min-width:426px){
    .dashNavHeader {
        font-size: 1.5rem;
        padding-bottom:2%;
        padding-top: 10%;
        color: white;
        text-align: left;

    }
}

.dashNavHeader:hover {
    color: white;
    transform: scale(1.02);
    filter: brightness(80%);
    cursor: pointer;
}

.dashHeader:hover {
    filter: brightness(80%)
}

.dashboardNav {
    text-align: left;
    background-color: #2453a3;
    padding: 1% 0 1% 0;
    min-height: 100%;
}

@media screen and (min-width:426px){
    .dashboardNav {
        text-align: left;
        background-color: #2453a3;
        padding: 2% 2% 2% 18%;
    } 
}



/*active group*/

.activeGroupTitle {
    margin: 1rem 0 0 0;
    font-size: 2rem;
    text-align: center;
}

@media screen and (min-width:426px){
    .activeGroupTitle {
        margin: 2rem 0 0 0;
        font-size: 3.5rem;
        text-align: left;
    }
}

.activeGroupSubtitle {
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

@media screen and (min-width:426px){
    .activeGroupSubtitle {
        font-size: 1.3rem;
        padding: 1rem 0 1rem 1rem;
        text-align: left;
    }
}

.totalSpend {
    text-align: center;
    font-size: 1.3rem;
    padding: .5rem 0 .5rem 1.1rem;

}

@media screen and (min-width:426px){
    .totalSpend {
        text-align: left;
        padding: .5rem 0 .5rem 1.3rem;
        font-size: 1.3rem;

    }
}

.membersList {
    margin: 25px 0 20px 0;
}

.membersListItem {
    list-style-image: url('icons/bear.png');
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 45%;
}

.memberbalance {
    text-align: left;
}

.memberbalancered {
    text-align: left;
    color: rgb(235, 77, 77);
}


.deleteGroup {
    margin: 3rem 0 0 0;
}

.settleGroup {
    margin: 1rem;
}


/*add transaction*/

.transactionForm {
    margin: 2rem 0 0 0;
}

.inputLabel {
    font-size: 1.15rem;
}

.addTransactionButton {
    margin: 1rem 0 1rem 0;
}

.transactionAmountWrapper {
    position: relative;
}

.transactionAmountInput {
    position: absolute;
    left: 28px;
    bottom: 39px;
}

.transactionAmountInput::before {
    content: "$";
    display: inline;
    font-family: inherit;
    font-size: inherit;
}

.transactionAmountWrapper input {
    padding-left: 1.4rem;
}


/*log in*/

.loginContainer {
    align-content: center;
    margin-top:5rem;
    text-align: -webkit-center;
}


/*sign up*/

.registerContainer {
    margin-top:5rem;
    text-align: -webkit-center;
}

.signUpMessage a {
    color: rgb(49, 49, 49);
    text-decoration: underline;
}

.signUpMessage {
    padding-bottom: .5rem;
}


/*create group*/



.groupForm {
    margin-top: 2rem;
    max-width: 40rem;
}

.formMembersList {
    max-width: 55%;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0; 
}

.formMembersListItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.addMemberButton {
    margin-bottom: 10px;
}

/*view transactions*/

.transactionsButton{
    color: rgb(49, 49, 49);
    text-align: left;
}

.transactionsButton:hover{
    color:white;
    background-color: #37517E ;
}